body{
    background-color: #E5E5E5;
}
#area{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    justify-content: center;
}
.game-field {
    padding: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
    gap: 4px;
    width: min-content;
  }
  
  .game-field_cell {
    background: #FFFFFF;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .game-field_cell:hover{
    background-color: rgb(128, 161, 161);
  }
  #reset-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    background: #F7F7F7;
    border-radius: 12px;

  }


#modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 79, 139);
    width: 300px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    padding: 10px;
    border-radius: 20px;
    display: none;
}
#exit{
    position: absolute;
    top: -10px;
    right: 0;
    padding: 9px 11px;
    border: 2px solid rgb(90, 79, 139);
    background-color: rgb(0, 204, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: flex;
    margin-top: 0px;
    font-size: 15px;
    line-height: 100%;
}
#modal>*{
    margin-top: 10px;
}
#modal>h1 {
    color: greenyellow;
}
#modal>h2 {
    color: white;
    font-size: 25px;
}
.buttons{
    display: flex;

    margin-top: 15px;
    justify-content: space-evenly;
}

#MoveToback{
    background-color: gray;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 10px auto;
    padding: 12px;
    font-weight: 600;
}